<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.starttoday.repository.GreetingMapper">
    <insert id="insert" parameterType="com.example.starttoday.entity.GreetingEntity">
        INSERT INTO greeting VALUES (

                                        #{id, jdbcType=BIGINT},
                                        #{content, jdbcType=VARCHAR}

                                    )
    </insert>

    <select id="selectAll" resultType="com.example.starttoday.entity.GreetingEntity">
        SELECT * FROM greeting
    </select>
    <select id="select" resultType="com.example.starttoday.entity.GreetingEntity">
        SELECT * FROM greeting
        WHERE id = #{id, jdbcType=BIGINT}
    </select>


    <delete id="delete">
        DELETE FROM greeting
        WHERE id = #{id, jdbcType=BIGINT}
    </delete>

    <update id="update">
        UPDATE greeting
        SET id = #{id, jdbcType=BIGINT},
            content = #{content, jdbcType=VARCHAR}
        WHERE id = #{id, jdbcType=VARCHAR}
    </update>

</mapper>